 
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Add this element -->
  <configSections> 
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="nhibernateRedisCache" type="NHibernate.Caches.Redis.RedisCacheProviderSection, NHibernate.Caches.Redis" />
  </configSections>

  <!-- Add this element -->
  <session-factory>
    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MySQL57Dialect</property>
    <property name="connection.connection_string">Server=127.0.0.1;Port=3306;Database=sopcce;Uid=root;Pwd=123456;</property>
    <property name="cache.use_second_level_cache">true</property>
    <property name="cache.use_query_cache">false</property>
    <property name="cache.provider_class">NHibernate.Caches.Redis.NHibernateRedisCacheProvider, NHibernate.Caches.Redis</property>
    <property name="cache.default_expiration">600</property>
 
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property>
  </session-factory>

  <!-- Leave the other sections unchanged -->
 
</configuration>